<?php
/***CONFIGURATOR***/
//Add config overrides here
$sugar_config['full_text_engine']['Elastic']['valid'] = true;
$sugar_config['list_max_entries_per_page'] = '40';
$sugar_config['site_url'] = '{{ site_url }}';
$sugar_config['stack_trace_errors'] = {{ stack_trace_errors }};
$sugar_config['developerMode'] = {{ developerMode }};
$sugar_config['resource_management']['default_limit'] = 1000;
$sugar_config['resource_management']['special_query_limit'] = 100000;
/***CONFIGURATOR***/